body{
    margin-bottom: 0px;
}

.parallax-container{
    width: 100%;
}

.promo-text{
    margin-bottom: 10px;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.flex-container {
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  }
.flex-container > div {
    background-color: #f1f1f1;
    width: 180px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.collapsible-header, .collapsible-body, .collapsible, ul.collapsible>li  {
   border-left: 0!important ;
   border-right: 0!important ;
   box-shadow: none!important;
}

blockquote{
    border-left: 5px solid darkorange;
}